#ProjectList 
{
	width: 50%;
	float: left;
}

#ProjectList .active
{
 font-weight: bold;
	}

#ProjectView {
	width: 50%;
	float: left;
}

.project-title {
	cursor: pointer;
}

#ProjectViews_container__p {
	position: absolute;
	width: 50%;
  	right: 0;
}


#ProjectView__p {
	  background-size: 20%;
  border: red solid;
  
  /*left: 50%;*/
  height: 20%;
  /*top: 0px;*/
}

#ProjectView__p.active{

	 border: black solid;
}

.opacityShow {
	opacity : 1;
}

.opacityHide {
	opacity : 0.4;
}

.opacityTransition {
	transition: opacity 2s;
}


/** animations */

.item {
	border: solid orange 1px;
	top: 0%;
  	position: absolute;
	  width: 100%;
  height: 100%;
  background-size: 100%;
}

#portfolioAnimationContainer {
	  position: absolute;
  width: 50%;
  border: solid 1px;
  right: 0px;
  height: 100%;
  top: 0px;
}

.portfolioAnimation-enter {
position: absolute;
  opacity: 0.01;
  top:-100%;
  transition: opacity 2.5s ease-in, top 2.5s ease-in;
}

.portfolioAnimation-enter.portfolioAnimation-enter-active {
  opacity: 1;
  top:00%;
}



.portfolioAnimation-leave {
	position: absolute;
	opacity: 1;
	top:00%;
	transition: opacity 2.5s ease-in, top 2.5s ease-in;
}

.portfolioAnimation-leave.portfolioAnimation-leave-active {
 	top:100%;
  	opacity: 0.01;
}


.oppositeDirection .portfolioAnimation-enter {
  top:100%;
}

.oppositeDirection .portfolioAnimation-enter.portfolioAnimation-enter-active {
  top:0%;
}



.oppositeDirection .portfolioAnimation-leave {
	top:0%;
}

.oppositeDirection .portfolioAnimation-leave.portfolioAnimation-leave-active {
 	top:-100%;
}
