#ProjectList 
{
	width: 50%;
	float: left;
}

#ProjectList .active
{
 font-weight: bold;
	}

#ProjectView {
	width: 50%;
	float: left;
}

.project-title {
	cursor: pointer;
}

#ProjectViews_container__p {
	position: absolute;
	width: 50%;
  	right: 0;
}


#ProjectView__p {
	  background-size: 20%;
  border: red solid;
  
  /*left: 50%;*/
  height: 20%;
  /*top: 0px;*/
}

#ProjectView__p.active{

	 border: black solid;
}

.opacityShow {
	opacity : 1;
}

.opacityHide {
	opacity : 0.4;
}

.opacityTransition {
	transition: opacity 2s;
}


/** animations */

.item {
	border: solid orange 1px;
	left: 50%;
  	position: absolute;
	width: 100px;
	  height: 150px;
}

#portfolioAnimationContainer {
	  height: 150px;
	position: relative;
	width: auto;
  	border: solid 1px;
}

.portfolioAnimation-enter {
position: absolute;
  opacity: 0.01;
  left:0%;
  transition: opacity 2.5s ease-in, left 2.5s ease-in;
}

.portfolioAnimation-enter.portfolioAnimation-enter-active {
  opacity: 1;
  left:50%;
}



.portfolioAnimation-leave {
	position: absolute;
	opacity: 1;
	left:50%;
	transition: opacity 2.5s ease-in, left 2.5s ease-in;
}

.portfolioAnimation-leave.portfolioAnimation-leave-active {
 	left:100%;
  	opacity: 0.01;
}
