body {
	background: white;
}

#container {
    /*position: relative;*/
    background: white;
}

#contactButton {
	position: absolute;
	left:25px;
	top: 10px;
	z-index:40;
	opacity: 1;
	transition: opacity 1s ease-out;
}

.ProjectDetailsView_active #contactButton {
	opacity: 0;
}

.animating_active #contactButton{
	opacity: 0.2;
	cursor: default;
}

h1 {
	position: absolute;
    text-align: center;
	z-index: 10;
	width: 100%;
	transition: color 1s;
}

.introTextContainer {
	position: absolute;
	text-align: center;
    top: 70px;
    width: 100%;
}

/***  start tidyUpCSSOnAirplane  ***/

.introText {
	transition: opacity 0.5s;
    opacity: 1;
}



.ProjectListView_active .introText, .ProjectDetailsView_active .introText {
	opacity: 0;
}


/***  end tidyUpCSSOnAirplane  ***/


.introText {
    z-index: 20;
    width:150px;
    position: relative;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.intialView_active .introText {
	opacity: 1;
	transition: opacity 0.5s ease-out 1s;
}
.introText__arrow {
	cursor: pointer;
}




.projectDetailsView {
	overflow: hidden;
	position: absolute;
	/*top:70%;*/
	/*transition: opacity 2s, transform 2s, top 2s;*/
	transition: transform 2s ease-in-out, opacity 2s, top 2s;
	z-index: 30;
	height: auto;
	transform-origin: bottom;
	width:100%;
	height: 100%;
	opacity : 0; 
	top : 100%; 
	transform : scale(0.0,0.0);
}

.ProjectDetailsView_active .projectDetailsView {
	opacity : 1; 
	top : 70%; 
	transform : scale(1,1);
}


.ProjectDetailsContent {
    padding-top: 40px;
	text-align: center;
}

.ProjectListView_active {

}

.projectListView {
		transition: transform 2s ease-in-out, opacity 2s, top 2s;
		left: 0px;
		position: absolute;
		top: 0px;
		overflow: hidden;
	    transform-origin: top;
	    width : 100%; 
		height : 100%;
}

.ProjectListView_active .projectListView {
	
}

.ProjectDetailsView_active .projectListView {
	transform : scale(0.7, 0.7);
}

#ProjectList
{
	width: 100%;
    position: absolute;
    z-index: 10;
    height: 70%;
    overflow: scroll;
    bottom: 0%;
    transition: opacity 1s, transform 2s ease-out;
}

.intialView_active #ProjectList {	
	transform: translateY(80%); 
}

.ProjectDetailsView_active #ProjectList {
	opacity: 0;
}

#ProjectListMenu
{
	margin: auto;
	transition: color 5s;
	width: 300px;
}



#ProjectView {
	width: 50%;
	float: left;
}

.project-title {
	cursor: pointer;
	/*border-bottom: solid 1px gray;*/
	/*padding-top: 10px;*/
    padding-bottom: 10px;
    /*color: white;*/
    margin-bottom: 0px;
    margin-top: 0px;
}

.spacingDivBorder {
	background-color: gray;
	height:1px;
	transform: translateY(0px);
	transition: transform 2s ease-in-out;
	width: 100%;
}

.active.project-title  .spacingDivBorder {
	transform: translateY(-15px);
}

.active.project-title + .project-title .spacingDivBorder {
	/*background-color: orange;*/
	transform: translateY(+15px);
}	

.arrowSeeProjectDetails {
    cursor: pointer;
    font-size: 20px;
}
.project-title .arrowSeeProjectDetails {
	display: none;
	float: right;
}
.active .arrowSeeProjectDetails {
	display: block;
	/*padding-top: 25px;*/
}

#ProjectList  h4 {
	margin: 0px;
	padding-top: 25px;
    padding-bottom: 5px;
	
}

.ProjectListView_active #ProjectList h4, .ProjectListView_active #ProjectList p {
	transition: transform 1s;
	transform: scaleY(0.90);
}

.ProjectListView_active #ProjectList .active h4 {
 	font-weight: bold;
 	transform: scaleY(1.0);
}

.ProjectListView_active #ProjectList .active p {
	transform: scaleY(1.0);
}



#ProjectViews_container__p {
	position: absolute;
	width: 50%;
  	right: 0;
}


#ProjectView__p {
	  background-size: 20%;
  border: red solid;

  /*left: 50%;*/
  height: 20%;
  /*top: 0px;*/
}

#ProjectView__p.active{

	 border: black solid;
}

.opacityShow {
	opacity : 1;
}

.opacityHide {
	opacity : 0.4;
}

.opacityTransition {
	transition: opacity 2s;
}


/** animations */



.portfolioSlide {
	top: 0%;
  	position: absolute;
	  width: 100%;
	  height: 100%;
	  background:white;

}

.portfolioSlideContainer {
	/*position:relative;*/
}

#portfolioProjectAnimationContainer {
	background-color: white;
	position: absolute;
	width: 100%;
	border: none;
	right: 0px;
	height: 100%;
	top: 0px;
}



.slideImage {
	height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    transition: none;
}

.slideImageOpacityOverlay { 
	opacity: 0;
	transition: opacity 2s ease-in-out;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
}

/*<<<<<<< HEAD
.ProjectListView_active .slideImageOpacityOverlay {
=======*/
.ProjectListView_active .slideImageOpacityOverlay, .ProjectDetailsView_active .slideImageOpacityOverlay {
/*>>>>>>> tidyUpCSSOnAirplane*/
    
    opacity: 0.5;
    
}

.pointer {
	cursor: pointer;
}

.arrow__IndividualProjecCarousel {
	color: black;
    cursor: pointer;
    font-size: 5em;
    position: absolute;
}

.animating_active .arrow__IndividualProjecCarousel {
	opacity: 0.1;
}

#leftArrow__IndividualProjecCarousel {
    left: 10%;
    top: 15%;
}

#rightArrow__IndividualProjecCarousel {
    right: 10%;
    top: 15%;
}

.portfolioProjectAnimation-enter {
position: absolute;
<<<<<<< HEAD
  /*opacity: 0.01;*/
  top:-100%;
  /*transform: scaleY(0.5);*/
  /*transform: matrix(1, 0, 0, 1, 0, 0);*/
  /*transition: opacity 2.0s ease-in, top 1.0s ease-in;*/
  /*transition: top 2.0s ease-in-out .001s, transform 2.0s ease-in-out .001s;*/
  transition: transform 1.0s ease-in-out 0.000s;
  /*transform: scaleY(0px);*/
  /*transform: translate(50%,0);*/
=======
  
  transition: transform 1.0s ease-in-out .000s;
>>>>>>> tidyUpCSSOnAirplane
}

.portfolioProjectAnimation-enter.portfolioProjectAnimation-enter-active {
  opacity: 1;
}





.portfolioProjectAnimation-leave {
	position: absolute;
	opacity: 1;
	transition: transform 1.0s ease-in-out 0.000s;
}

.portfolioProjectAnimation-leave.portfolioProjectAnimation-leave-active {
}

/*********/

.movingUp .portfolioProjectAnimation-enter {
	top:100%;
}

.movingUp .portfolioProjectAnimation-enter.portfolioProjectAnimation-enter-active {
  transform: translateY(-100%);
}

.movingUp .portfolioProjectAnimation-leave {
}

.movingUp .portfolioProjectAnimation-leave.portfolioProjectAnimation-leave-active {
  	transform: translateY(-100%);
}


/*********/

.movingDown .portfolioProjectAnimation-enter {
  top:-100%;
}

.movingDown .portfolioProjectAnimation-enter.portfolioProjectAnimation-enter-active {
  transform: translateY(+100%);
}

.movingDown .portfolioProjectAnimation-leave {
	/*top:0%;*/
}

.movingDown .portfolioProjectAnimation-leave.portfolioProjectAnimation-leave-active {
 	transform: translateY(+100%);
}

/*********/

.movingLeft .portfolioProjectAnimation-enter {
	top:0%;	
	left:100%;
}

.movingLeft .portfolioProjectAnimation-enter.portfolioProjectAnimation-enter-active {
  transform: translateX(-100%);
}



.movingLeft .portfolioProjectAnimation-leave {
	top:0%;
	left:0%;
	/*transition: transform 2.0s ease-in-out .000s;*/
}

.movingLeft .portfolioProjectAnimation-leave.portfolioProjectAnimation-leave-active {
 	transform: translateX(-100%);
}



.movingRight .portfolioProjectAnimation-enter {
	top:0%;	
  right:100%;
  /*transition: transform 2.0s ease-in-out .000s;*/
}

.movingRight .portfolioProjectAnimation-enter.portfolioProjectAnimation-enter-active {
  transform: translateX(100%);
}



.movingRight .portfolioProjectAnimation-leave {
	top:0%;
	/*left:0%;*/
	/*transition: transform 2.0s ease-in-out .000s;*/
}

.movingRight .portfolioProjectAnimation-leave.portfolioProjectAnimation-leave-active {
 	transform: translateX(100%);
}


