@import "./Variables.less";

.fullSize, #mainView, #animatingStatus {
	width: 100%;
	height: 100%;
	position: relative;
}

#projectListContainer {
	margin-top: @headerBarHeight;
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
}

.projectListView {
	display: flex;
	transition: height @projectDetailsViewAnimations, width @projectDetailsViewAnimations, top @projectDetailsViewAnimations;
	position: relative;
	margin: auto;
	overflow: hidden;
  width : 100%; 
	height : 100%;
}

.projectClose {
	margin-left: 25px;
	float:left;
	opacity: 0;
	transition: opacity @projectDetailsViewAnimations;
}

.projectDetailsView_active .projectClose {
	opacity: 1;
	transform: translateX(0px);

}

.arrow__individualProjecCarousel {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	transition: opacity 1s ease-in-out;
}

.projectDetailsView_active .arrow__individualProjecCarousel {
opacity: 1;
}

.projectDetailsView_active.singleImageProject .arrow__individualProjecCarousel {
cursor: none;
opacity: 0;
}

.projectDetailsView_active .animating_active .arrow__individualProjecCarousel {
opacity: 0.1;
}

#leftArrow__individualProjecCarousel {
	left: 10%;
	top: 15%;
}

#rightArrow__individualProjecCarousel {
	right: 10%;
	top: 15%;
}

.extraSmallDevices({
	.projectDetailsView_active .projectListView {
		transform: none;
		height: 460px;
	}

	.arrow__individualProjecCarousel {
		color: lightgrey;
		font-size: 10em;
		z-index: 20;
	}
});

.smallDevices({ 
	.projectDetailsView_active .projectListView {
	    transform: none;
	    height: 760px;
	}
});

.mediumDevices({
	.arrow__individualProjecCarousel {
		color: black;
		font-size: 5em;
	}
	.projectDetailsView_active .projectListView {
		/*transform: scale(0.7, 0.6) translateY(18em);*/
		transform: none;
		height: 360px;
		width: 540px;
}
});