

@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "./Variables.less";
@import "./ContactModal.less";
@import "./HeaderBar.less";
@import "./PortfolioContainer.less";
@import "./ProjectAnimationContainer.less";
@import "./ProjectDetailsIntroView.less";
@import "./ProjectDetailsMainView.less";
@import "./ProjectList.less";
@import "./ProjectName.less";


body {
	background: white;
}



.projectListView_active {
	overflow: hidden;
}

#container {
    background: white;
}

p {
	font-size: 1em;
	margin-bottom: 0.6em
}

#ProjectView {
	width: 50%;
	float: left;
}

.projectListView_active #projectList .projectShortDescription {
	transition: transform 1s, margin-bottom 1s;
	transform: scaleY(0.90);
}

.projectListView_active #projectList .active h4 {
 	font-weight: bold;
 	transform: scaleY(1.0);
}

.projectListView_active #projectList .active .projectShortDescription {
	transform: scaleY(1.0);
}


.animating_active .projectName {
	opacity: 0.7;
	cursor: default;
}

.animating_active .active.projectName {
	opacity: 1;
}


/** animations */


.portfolioSlide {
	top: 0%;
  	position: absolute;
	  width: 100%;
	  height: 100%;
	  background:white;

}


#portfolioProjectAnimationContainer {
	background-color: white;
	position: absolute;
	flex: auto;
	width: 100%;
	border: none;
	right: 0px;
	height: 100%;
	top: 0px;
}


.slideImage {
	height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    transition: none;
}


.slideImageOpacityOverlay { 
	opacity: 0;
	transition: opacity 1s ease-in-out;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
}

.projectListView_active .slideImageOpacityOverlay, .projectDetailsView_active .slideImageOpacityOverlay {
    opacity: 0.5;
}

.pointer {
	cursor: pointer;
}






/** RESPONSIVE SECTION ***/

.extraSmallDevices({
	html, body {
		font-size: 12px;
	}

	// h4, .h4 {
	// 	font-size: 4rem;
	//   }


	// .projectDetailsView_active .closeButton {
    // font-size: 6rem;
	// }

	// .projectDetailsIntroView h2 {
	//     /*margin-top: 12rem;*/
	// }


	


 	// .projectDetailsView_active .projectDetailsMainView {
 	// 	/*top: 80%;*/
 	// }
});

.smallDevices({ 
});

.smallRetinaDevices( {
	html, body {
		font-size: 25px;
	}
});

.mediumDevices({

	html, body {
		font-size: 12px;
	}










	// .projectDetailsIntroView h2 {
	// 	/*margin-top: 6rem;*/
	// }


	// .projectDetailsView_active .closeButton {
	//     font-size: 3rem; 
	// }

	/*.projectDetailsView_active .projectDetailsMainView {
 		top: 70%;
 	}*/

});
